.navbaar{
    flex-direction: column;
}


.first{
    flex-direction: column;
}

.items {
    flex-direction: column;
}


.boxes {
    flex-direction: column;
}
.boxes .contain figure img{
    width:250px;
    height: 200px;
}

.courses {
    flex-direction: column;
}

.courses #course2 {
    width: 100%;

}

.Edcation {
    flex-direction: column;
}

.Education .edu {
    width: 100%;
}



/* .abc #btn3 {
    margin: auto;
    margin-left: 150px;
} */

.courses #course2 #para8 span {
    margin-left: 50px;
}

.courses #course2 #para9 span {
    margin-left: 10px;
}

.Education #edu1 {
    margin-left: 50px;
    font-size: 30px;
}

.Education #edu3 {
    margin-left: 50px;
    font-size: 20px;
}

.Education #edu3 #a1 {
    margin-top: 20px;
}

.Education #edu2 li {
    font-size: 30px;
}

.Education #edu4 li {
    font-size: 30px;
}

.Education #edu4 #para18 {
    text-align: center;
    font-size: 20px;
}

#para15 {
    font-size: 20px;
}